# Autodetect text files and normalise line endings to LF everywhere.
* text=auto eol=lf

# Ensure diff uses csharp heuristics
*.cs diff=csharp

# Binary files (no conversion, no diff)
*.metallib binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
